@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './nprogress.css';
@import './layout.css';

:root {
  --scrollbar--bg: theme('colors.gray.200');
  --scrollbar--thumb: theme('colors.gray.400');
  --scrollbar--thumb-hover: theme('colors.gray.500');
  --scrollbar--width: 0.5rem;
}

* {
  scrollbar-color: var(--scrollbar--thumb) var(--scrollbar--bg);
}

::-webkit-scrollbar {
  width: var(--scrollbar--width);
}
::-webkit-scrollbar:horizontal {
  height: var(--scrollbar--width);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar--bg);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar--thumb);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar--thumb-hover);
}

/* TODO: Implement light theme */
html.dark {
  --scrollbar--bg: theme('colors.gray.800');
  --scrollbar--thumb: theme('colors.gray.600');
  --scrollbar--thumb-hover: theme('colors.gray.500');

  @apply font-sans text-fg-default bg-bg-default;
}

a {
  &:hover {
    @apply text-primary-default;
  }
}
