@import '@cvp-web-client/ui/css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './nprogress.css';
@import './base.css';
@import './typography.css';
@import './layout.css';

:root {
  --scrollbar--bg: theme('colors.zinc.800');
  --scrollbar--thumb: theme('colors.zinc.600');
  --scrollbar--thumb-hover: theme('colors.zinc.500');
  --scrollbar--width: 0.5rem;
}

* {
  scrollbar-color: var(--scrollbar--thumb) var(--scrollbar--bg);
}

::-webkit-scrollbar {
  width: var(--scrollbar--width);
}
::-webkit-scrollbar:horizontal {
  height: var(--scrollbar--width);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar--bg);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar--thumb);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar--thumb-hover);
}
